@keyframes slideUp {
    from {
        transform: translateY(20%);
        opacity: 0;
        overflow: hidden;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        overflow: hidden;
    }
}

.box,
.box-fancy,
.carousel {
    animation-name: slideUp;
    animation-fill-mode: both;
    animation-duration: var(--box-animation-duration);
    animation-delay: var(--box-animation-delay);
    opacity: 0;
    overflow-x: scroll;
    animation-play-state: paused;
}
