.box-animation-paused {
    transform: translateY(16rem);
    transition: transform var(--animation-duration) ease-out;
}
.box-animation-start {
    transform: translateY(0);
    transition-delay: var(--animation-delay);
}
