@import "root.css";
@font-face {
    font-family: "Noto IKEA Latin Bold";
    src:
        url("https://db.onlinewebfonts.com/t/b269e509d0e2d442240b8df6035c9999.woff2")
            format("woff2"),
        url("https://db.onlinewebfonts.com/t/b269e509d0e2d442240b8df6035c9999.woff") format("woff");
}

img,
svg {
    display: block;
}

body {
    margin: 0;
    font-family: var(--ikea-font);
    background-color: var(--color-background);
}
h2 {
    font-family: "Noto IKEA Latin Bold";
}
/*--- inizio nav e propri contenuti*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5rem;
    width: 100%;
    max-width: var(--box-container-max-width);
    margin: auto;
}
.navbar .links-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 0;
    gap: 3px;
}
.navbar .link {
    display: flex;
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--color-text-darker);
    white-space: nowrap;
    line-height: 100%;
}
.navbar .link:hover {
    font-weight: 700;
}
.logo svg {
    margin-right: 1rem;
}
/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

.sections-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 24px;
    max-width: 90rem;
    margin: auto;
    box-sizing: border-box;
}
/* ---- inizio sezioni e box ----- ----*/
.box-container-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--box-gap);
    margin-bottom: var(--box-gap);
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--box-gap);
    margin-bottom: var(--box-gap);
}
.box-2-3 {
    grid-column: 1/3;
}

.box-container-1-col {
    margin-bottom: var(--box-gap);
    gap: var(--box-gap);
}

/* ---- struttura delle box singole ---- ---- ---- */
/* impostazione contenitore genitore */
.box {
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: relative;
    border-radius: var(--border-radius-def);
    text-decoration: none;
    overflow: hidden;
}
.box-short {
    height: var(--box-height-low);
    max-height: calc(var(--box-container-max-width) / 2.2);
}
.box-standard {
    height: var(--box-height-def);
    max-height: calc(var(--box-container-max-width) / 1.95);
}
.box-tall {
    height: var(--box-height-high);
    max-height: calc(var(--box-container-max-width) / 2 * 1.07);
}
.box-first {
    height: calc(100svh - 7.2rem);
    min-height: 28rem;
}
/* impostazioni di video e immagini di sfondo */
.box .bg-main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
/*gradiente semi trasparente (sopra lo sfondo, ma dietro il testo)*/
.box .bg-overlay {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, transparent 75%, rgba(0, 0, 0, 0.75));
}

.box .bg-overlay-none {
    background-image: none;
}
/*soprattitolo, titolo e freccetta*/
.box .bottom-items {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 1.5rem;
    color: white;
    transition: 500ms transform ease;
    transform: translateX(-64px);
}
.box .items-dark,
.box-fancy .items-dark {
    color: var(--color-text-darker);
    text-shadow: none;
}
.box .items-light,
.box-fancy .items-light {
    color: var(--color-text-light);
}
.box .items-light p {
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7);
}
.box .bottom-items h2,
.box-fancy .left-items h2 {
    font-size: 2.2rem;
    letter-spacing: -0.03rem;
    margin: 0;
    line-height: 120%;
}
.box .bottom-items p {
    margin: 0;
}
.box .bottom-items .big-title,
.box-fancy .left-items .big-title {
    font-size: 3.2rem;
    margin: 0;
    line-height: 108%;
    letter-spacing: -0.1rem;
}

/*freccetta*/
.box .bottom-items .ico,
.box-fancy .left-items .ico {
    height: 48px;
    width: 48px;
    margin-top: 1rem;
    margin-right: 16px;
    opacity: 1;
    transition: 400ms ease;
    transform: translateX(-5rem);
}

/* inizio CSS fancy box */
.box-fancy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6.25rem 3.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius-def);
    margin-bottom: var(--box-gap);
    position: relative;
}

.box-fancy .left-items {
    position: absolute;
    display: flex;
    width: 23rem;
    left: 3.75rem;
    transition: 500ms transform ease;
    transform: translateX(-64px);
}
.box-fancy .left-items .title-huge {
    font-size: 4.4rem;
    line-height: 108%;
}

.box-fancy .right-items {
    width: 70%;
    height: 100%;
}

.box-fancy .right-items p {
    text-shadow: none;
}

.box-fancy .right-items img,
.box-fancy .right-items video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-def);
}
.military-green {
    background-color: rgb(84, 88, 68);
}
.black-bg {
    background: #000;
}
/* ---- Inizio CSS freccetta a comparsa ---- ---- ---- */
.box:hover .bottom-items {
    transform: translateX(0);
}
.box:hover .bottom-items .ico {
    transform: translate(0);
    opacity: 100%;
}
.box-fancy:hover .left-items {
    transform: translateX(0);
}
.box-fancy:hover .left-items .ico {
    transform: translate(0);
    opacity: 100%;
}

/*---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----*/

/* ------- inizio CSS carosello ----------*/
.carousel {
    display: flex;
    align-items: center;
    height: fit-content;
    max-height: var(--carousel-height);
    max-height: calc(var(--box-container-max-width) / 4);
    padding: 3.75rem 5.75rem 3.75rem 3.75rem;
    border-radius: var(--border-radius-def);
    overflow: hidden;
}
/* contenitore di testo e galleria */
.carousel .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
/* testo sulla destra*/
.carousel .left-items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    min-width: 300px;
    max-width: 30%;
    margin-right: 1.75em;
}
.carousel .left-items h2,
p {
    margin: 0;
    padding: 0;
}
.carousel .left-items h2 {
    font-size: 2.25rem;
    line-height: 120%;
    letter-spacing: -0.08rem;
}
.carousel .left-items p {
    line-height: 160%;
}

.carousel .right-items {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.carousel .gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(var(--box-container-max-width) * 0.175);
    width: calc(var(--box-container-max-width) * (0.175 * 3) + 50px);
    height: fit-content;
    gap: 24px;
    overflow-y: hidden;
    overflow-x: scroll;
}
/* 
    può tornare utile per lo scroll con i bottoni :
        .gallery { scroll-snap-type: inline mandatory;}
        .gallery > * { scroll-snap-align: start;} 
    */

.carousel .gallery::-webkit-scrollbar {
    height: 16px;
    border-top: 3px solid white;
}
.carousel .gallery::-webkit-scrollbar-thumb:horizontal {
    border-top: 3px solid black;
}

.carousel .right-items .button-right,
.button-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 3.75rem;
    background-color: black;
    border: none;
}
.carousel .right-items .button-right {
    right: calc(3.75rem / 2 * -1);
}
.carousel .right-items .button-left {
    left: calc(3.75rem / 2 * -1);
}

.carousel .right-items .button-right img,
.button-left img {
    height: 24px;
    width: 24px;
}

.carousel .card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 350px;
    margin-bottom: 24px;
    border-radius: var(--border-radius-def);
    background-color: var(--color-background);
    overflow: hidden;
}
.carousel .card img,
video {
    height: 20%;
    flex-grow: 1;
    object-fit: cover;
}
.carousel .card .bottom-items {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 16px 8px 16px 16px;
}
.carousel .card .bottom-items h3,
p {
    margin: 0;
    padding: 0;
}
.carousel .card .bottom-items h3 {
    font-size: 1rem;
    font-family: "Noto IKEA Latin Bold";
}
.carousel .card .bottom-items p {
    font-size: 0.85rem;
}
.carousel .card .bottom-items-spacious {
    height: 20%;
}
.carousel .content .left-items-bigger h2 {
    font-size: 3.175rem;
    line-height: 105%;
}

/* ------- fine CSS carosello ----------*/

footer .top-box {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-bottom: 2rem;
}

footer .room-box {
    position: relative;
    display: flex;
    width: 114rem;
    max-width: 100%;
    margin: auto;
}

footer .room-box img {
    display: block;
    width: 100%;
    margin: auto;
}

footer .room-img-lights {
    position: absolute;
    top: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .switch-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer .switch-box .switch-1 {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    bottom: 37%;
    left: 25%;
    display: block;
}

footer .switch-box .switch-2 {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    bottom: 25%;
    right: 29%;
    display: block;
}

footer .switch-box .switch-3 {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    bottom: 15%;
    right: 5%;
    display: block;
}

footer .bottom-box {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 24px;
    background-color: var(--color-ikea-blue);
}

footer .bottom-box .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

footer .bottom-box .links a {
    text-decoration: none;
    color: white;
    padding: 0 0.75rem;
    margin: 0;
    border-right: 1px solid white;
    font-size: 1.25rem;
    min-width: max-content;
}

footer .bottom-box .links a:last-child {
    border-right: none;
}

footer .bottom-box .info {
    display: flex;
    justify-content: space-between;
}

footer .bottom-box .info .center {
    display: flex;
    gap: 2px;
    font-size: 0.7rem;
    color: white;
}

footer .bottom-box .info a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
}

/* mobile-sidebar, regole da attivare solo per mobile (max-width: 500px -più o meno-) */
.mobile-ico {
    display: flex;
    justify-content: center;
    height: 32px;
    width: 32px;
    border: none;
    background: none;
}

.mobile-ico img {
    height: 100%;
    width: 100%;
}

.mobile-nav {
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    z-index: 1;
    width: 28rem;
    height: 100svh;
    right: 0;
    top: 0;
    box-sizing: border-box;
    transform: translateX(28rem);
    transition: transform 400ms cubic-bezier(1, 0.26, 0.51, 0.72);
    overflow-y: scroll;
}
.mobile-nav > header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4.25em;
    box-sizing: border-box;
}
.mobile-nav > header .close {
    height: 32px;
    width: 32px;
    border: none;
    background: none;
}
.mobile-nav > header img {
    height: 100%;
    width: 100%;
}

.mobile-nav .items-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.mobile-nav .item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7.5rem;
    border-bottom: 0.0625rem solid #cccccc;
}
.mobile-nav .item .link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem; /*si potrebbe creare una custom prop per le dimension idei font*/
    line-height: 120%;
    text-decoration: none;
    color: inherit;
    padding: 0 1rem;
}
.mobile-nav-visible {
    transform: translateX(0);
    transition: transform 400ms cubic-bezier(1, 0.26, 0.51, 0.72);
}
.overlay-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
}
.overlay-all-active {
    transition: background-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mobile-nav .go-shopping {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #ffdb00;
    border-radius: var(--border-radius-def);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.mobile-nav .go-shopping > header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    min-height: 3rem;
}

.mobile-nav .go-shopping header .ico {
    height: 24px;
    width: 24px;
}
.mobile-nav .go-shopping header h2 {
    margin: 0;
}
.mobile-nav .go-shopping header .ico-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #000;
    border-radius: 2.5rem;
    box-sizing: border-box;
    border: none;
}

.mobile-nav .go-shopping .search {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.mobile-nav .go-shopping .region-selector::-webkit-scrollbar {
    background: none;
    width: 0.35rem;
}

.mobile-nav .go-shopping .region-selector::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
.mobile-nav .go-shopping .region-selector::-webkit-scrollbar-button {
    background: rgba(0, 0, 0, 0.5);
    color: wheat;
    height: 0.2rem;
    border-radius: 8px;
}

.mobile-nav .go-shopping .center-items {
    display: flex;
    flex-direction: column;
    height: calc((2.5rem * 3) + 48px + 0.5rem);
    margin: 1rem;
    padding: 0.7rem;
    border-radius: var(--border-radius-def);
    background: #fff094;
    transition: all 0.4s ease;
    overflow: hidden;
}
.mobile-nav .go-shopping .center-items-hidden {
    margin: 0 1rem;
    padding: 0 0.7rem;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.mobile-nav .go-shopping .search input {
    width: 100%;
    height: 48px;
    border: none;
    padding: 0 0 0 3rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: var(--border-radius-def);
}
.mobile-nav .go-shopping .search .ico {
    position: absolute;
    left: 1rem;
    bottom: 25%;
    height: 1.25rem;
    width: 1.25rem;
}
.mobile-nav .go-shopping .center-items button {
    display: flex;
    align-items: center;
    width: 98%;
    border: none;
    background: none;
    height: 2.5rem;
    border-radius: var(--border-radius-def);
    font-size: 1rem;
    font-family: inherit;
    gap: 0.3rem;
}
.mobile-nav .go-shopping .center-items button span {
    font-size: 0.9rem;
}
.mobile-nav .go-shopping .center-items button:hover {
    background: #fff8ca;
}
.mobile-nav .go-shopping .center-items .region-selector {
    overflow-y: scroll;
}
.mobile-nav .go-shopping footer {
    display: flex;
    min-height: 3rem;
    padding: 1rem;
    background-color: #ffdb00;
    font-family: inherit;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.mobile-nav .go-shopping footer:hover {
    transition: all 0.3s ease-in-out;
    background-color: #fff193;
}
.mobile-nav .go-shopping .while-selector-visible {
    border-top: 2px solid white;
    background-color: #fff193;
}
.mobile-nav .go-shopping footer .left-items {
    display: flex;
    gap: 0.3rem;
    width: 100%;
    line-height: 100%;
    align-items: center;
}
.mobile-nav .go-shopping footer .left-items .selected-store {
    font-family: "Noto IKEA Latin Bold";
}





.hero .go-shopping {
    width: 100%;
    height: 100%;
    min-width: min-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdb00;
    border-radius: var(--border-radius-def);
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.hero .go-shopping > header {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem 3.125rem 1rem 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    min-height: 3rem;
}

.hero .go-shopping header .ico {
    height: 24px;
    width: 24px;
}
.hero .go-shopping header h2 {
    font-size: 2.25rem;
    letter-spacing: -0.05rem;
    margin: 0;
}
.hero .go-shopping header .ico-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #000;
    border-radius: 2rem;
    box-sizing: border-box;
    border: none;
}

.hero .go-shopping .search {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.hero .go-shopping .region-selector::-webkit-scrollbar {
    background: none;
    width: 0.35rem;
}

.hero .go-shopping .region-selector::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
.hero .go-shopping .region-selector::-webkit-scrollbar-button {
    background: rgba(0, 0, 0, 0.5);
    color: wheat;
    height: 0.2rem;
    border-radius: 8px;
}

.hero .go-shopping .center-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.5rem);
    height: 80%;
    max-height:fit-content;
    margin: 1rem;
    padding: 0.7rem;
    border-radius: var(--border-radius-def);
    background: #fff094;
    transition: all 0.4s ease;
    overflow: hidden;
}
.hero .go-shopping .center-items-hidden {
    margin: 0 1rem;
    padding: 0 0.7rem;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.hero .go-shopping .search input {
    width: 100%;
    height: 48px;
    border: none;
    padding: 0 0 0 3rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: var(--border-radius-def);
}
.hero .go-shopping .search .ico {
    position: absolute;
    left: 1rem;
    bottom: 25%;
    height: 1.25rem;
    width: 1.25rem;
}
.hero .go-shopping .center-items button {
    display: flex;
    align-items: center;
    width: 98%;
    border: none;
    background: none;
    height: 2.5rem;
    border-radius: var(--border-radius-def);
    font-size: 1rem;
    font-family: inherit;
    gap: 0.3rem;
}
.hero .go-shopping .center-items button span {
    font-size: 0.9rem;
}
.hero .go-shopping .center-items button:hover {
    background: #fff8ca;
}
.hero .go-shopping .center-items .region-selector {
    overflow-y: scroll;
}
.hero .go-shopping footer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 6.25rem;
    padding: 1rem 3.125rem 1rem 3.125rem;
    background-color: #ffdb00;
    font-family: inherit;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.hero .go-shopping footer:hover {
    transition: all 0.3s ease-in-out;
    background-color: #fff193;
}
.hero .go-shopping .while-selector-visible {
    border-top: 2px solid white;
    background-color: #fff193;
}
.hero .go-shopping footer .left-items {
    display: flex;
    gap: 0.3rem;
    width: 100%;
    line-height: 100%;
    align-items: center;
}
.hero .go-shopping footer .left-items .selected-store {
    font-family: "Noto IKEA Latin Bold";
}