@import "root.css";

img,
svg {
    display: block;
}

body {
    margin: 16px;
    font-family: var(--ikea-font);
    background-color: var(--color-background);
}

/*--- inizio nav e propri contenuti*/

.nav-container {
    display: flex;
    position: sticky;
    justify-content:space-between;
    align-items: center;
    width: 93vw;
    border: 2px dotted black;
    padding: 0px 0px; /* da aggiustare con il pull */
    margin-left:1vw;
}

.logo{
    display:inline;
    height: 90%;
    margin-right: 12px;
}

.nav-box{
    display:flex;
    overflow: hidden;
    width:50%;
    justify-content:space-evenly; 
    align-items: center;
    color: var(--font-color);
    border: 1px solid black;
}

.nav-hidelink{
    display: flex;
    position:relative;
    padding: 0px 8px 0px 8px;
    font-size: 16px; 
    color:rgba(255, 255, 255, 0);
    text-decoration: none;
    font-stretch: semi-expanded;
    
}

.nav-hidelink .nav-text{
    position: absolute;
    color: initial;
    justify-self:center;
    z-index: 1;
}

.nav-hidelink:hover .nav-text{
    font-weight: bold;
    left:6px; 
}

.nav-side{
    display:flex;
    margin: 5px;
}
.nav-side img{
    display:none;
    width:23px; 
    
} 

.links{
    display:flex;
    padding: 0.7rem;
    justify-content: space-around;
    background-color: var( --color-ikea-yellow);
    border-radius: var(--border-radius-def);
    color:var(--ikea-font);
    font-size: 1.1rem;

}

.go_to{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    gap:5px;
    text-decoration: none;
    
}

#shop-list{
    display:inline;
    width:30%;
    background-color: var( --color-ikea-yellow);
    color: var(--color-text-black);
    border:none;
    font-size: 1rem;
    font-weight:550;
    font-stretch: expanded;
}
option{
    font-weight:550;
    font-stretch: expanded;

}


/* .shop-site{ non funziona, ma da rifare con javascript 
    display:block;
    margin: 5px;
    background-color: rgba(255, 247, 236, 0.5);
    border-radius: var(--border-radius-def);
} */
 
.go_to hr{
    height:200%;
    width: 1px;
    color:white;
}

.go_to span{
    color: var(--color-text-dark);
    font-size: 1rem;
    font-stretch:semi-expanded;


}


.arrow{
    display: inline;
    background-color: black;
    border-radius: 50%;
    transform:rotate(180deg)
}



@media screen and (max-width: 40rem){
    .nav-hidelink{
        display: none;
    }
    .nav-box{
        justify-content: flex-start;
    }
    .nav-selector{
        display:none;
    }
    .nav-side img{
        display:inline-block;
    } 
    .nav-side .links{
        display:none;
    } 

}
/*---- fine nav ----*/

/* ---- inizio footer ----- ----*/

footer{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}






.light-switch{
    position: absolute;
}

.room-lights{
    position:absolute;
}

.clock{
    position: absolute;
}